# --- Yapay Zeka & Derin Öğrenme ---
torch
torchvision
segmentation-models-pytorch
huggingface_hub

# --- Görüntü İşleme ---
numpy
opencv-python-headless
Pillow
albumentations
matplotlib

# --- Web Arayüzü, Dashboard & Görselleştirme ---
streamlit
pandas
plotly

# --- Raporlama & Araçlar ---
python-dotenv
fpdf2
