# --- Yapay Zeka & Derin Öğrenme ---
torch
torchvision
segmentation-models-pytorch

# --- Görüntü İşleme ---
numpy
opencv-python-headless
Pillow
albumentations
matplotlib

# --- Web Arayüzü, Dashboard & Görselleştirme ---
streamlit
pandas
plotly

# --- Güvenlik & Araçlar ---
python-dotenv

fpdf2
plotly
pandas
